:root {
    --primary-light: rgb(240, 239, 239);
    --primary-btn: #4d3aab;
    --primary-btn-active: #3a20be;
    --primary-btn-hover: #220f82;

    --board-color: #435fdb;
    --player-1: #f7b33d;
    --player-1-light: rgb(255, 207, 123);
    --player-2: #d42424;
    --player-2-light: rgb(226, 130, 130);

    --margin-left: 15em;
}

html,
body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-color: var(--primary-light);
}

/* header */
.header {
    margin-left: var(--margin-left);
    text-align: center;
}
.header .spacer {
    padding-top: 4em;
}
.header .title {
    margin: 0 auto 0.7em;
    padding: 0.2em;

    width: 9em;
    color: #fff;
    background-color: var(--board-color);
    font-size: 3em;
    border: 1px solid black;
    border-radius: 0.3em;
}

/* Navbar */
.navbar {
    position: fixed;
    background-color: var(--board-color);
    width: var(--margin-left);
    height: 100vh;
}
ul {
    margin-top: 16.3em;
    display: flex;
    flex-direction: column;
    padding-inline-start: 0;
}
li {
    margin: 0.5em;
    display: flex;
    flex-direction: row;
    background-color: var(--primary-btn);
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
}
li:hover {
    background-color: var(--primary-btn-hover);
    transition: ease 0.3s all;
}
.li-text {
    font-size: 1.2em;
    font-weight: bolder;
    padding-left: 1em;
    padding-top: 0.1em;
    color: var(--primary-light);
}
.active {
    background-color: var(--primary-btn-active);
}
.reset-img {
    background-image: url("../img/reset.svg");
    background-repeat: no-repeat;
    background-size: 2em;
    width: 2em;
    height: 2em;
    filter: invert(100%);
}
.person-img {
    background-image: url("../img/person.png");
    background-repeat: no-repeat;
    background-size: 2em;
    width: 2em;
    height: 2em;
    filter: invert(100%);
}
.computer-img {
    background-image: url("../img/computer.png");
    background-repeat: no-repeat;
    background-size: 2em;
    width: 2em;
    height: 2em;
    filter: invert(100%);
}

/* main */
.main {
    margin-left: var(--margin-left);
    text-align: center;
}
.clock {
    padding: 1em;
}
.reset-button {
    color: #fff;
    background-color: var(--primary-btn);
    width: 100%;
    border: none;
    cursor: pointer;
}
.reset-button:hover {
    background-color: var(--primary-btn-hover);
}

/* board */
.board-container {
    position: relative;
}
.board {
    position: relative;
    margin: 0 auto;
    background-color: var(--board-color);
    padding: 1em;
    display: grid;
    text-align: center;
    gap: 0.2em;
    grid-template-columns: repeat(7, 1fr);
    width: 45em;
    border: 1px solid black;
    border-bottom: 0;
    border-radius: 1em 1em 0 0;
    box-shadow: 0px -4px 21px -2px rgba(0, 0, 0, 0.75);
}
.board-base {
    margin: 0 auto;
    background-color: var(--player-1);
    width: 50em;
    height: 2em;
    border: 1px solid black;
    border-radius: 1em 1em 0 0;
    box-shadow: 0px 4px 21px -2px rgba(0, 0, 0, 0.75);
}
.final {
    opacity: 0.6;
}

/* GameSquares */
.game-square {
    display: inline-block;
    position: relative;
    border-radius: 3em;
    border: 1px solid black;
    height: 6em;
    width: 6em;
    justify-self: center;
}
.inset-1 {
    position: absolute;
    box-shadow: inset 0 0 40px var(--player-1-light);
    border-radius: 2.1em;
    width: 4.2em;
    height: 4.2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.inset-2 {
    position: absolute;
    box-shadow: inset 0 0 40px var(--player-2-light);
    border-radius: 2.1em;
    width: 4.2em;
    height: 4.2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.player-1 {
    background-color: var(--player-1);
}
.player-2 {
    background-color: var(--player-2);
}
.empty {
    background-color: var(--primary-light);
}

/* Controls */
.controls {
    margin: 0 auto;
    display: grid;
    text-align: center;
    gap: 0.2em;
    grid-template-columns: repeat(7, 1fr);
    width: 45em;
}
.control-button {
    position: relative;
    justify-self: center;
    border: none;
    margin-bottom: 0.5em;
    height: 6em;
    width: 5em;
    cursor: pointer;
}
.control-button:focus {
    outline: none;
}
.control-button > * {
    pointer-events: none;
}

.control-button:hover .one {
    animation: arrowone 1s ease 0s infinite;
}
.control-button:hover .two {
    animation: arrowtwo 1s ease 0s infinite;
}
.control-button:hover .three {
    animation: arrowthree 1s ease 0s infinite;
}
.control-button:active .one {
    animation: arrowone 1s ease 0s infinite;
}
.control-button:active .two {
    animation: arrowtwo 1s ease 0s infinite;
}
.control-button:active .three {
    animation: arrowthree 1s ease 0s infinite;
}

@keyframes arrowone {
    0% {
        border: 3px solid rgb(214, 214, 214);
        border-left: none;
        border-top: none;
    }
    66% {
        border: 3px solid rgb(43, 43, 43);
        border-left: none;
        border-top: none;
    }
    100% {
        border: 3px solid rgb(43, 43, 43);
        border-left: none;
        border-top: none;
    }
}
@keyframes arrowtwo {
    0% {
        border: 3px solid rgb(214, 214, 214);
        border-left: none;
        border-top: none;
    }
    33% {
        border: 3px solid rgb(214, 214, 214);
        border-left: none;
        border-top: none;
    }
    100% {
        border: 3px solid rgb(43, 43, 43);
        border-left: none;
        border-top: none;
    }
}
@keyframes arrowthree {
    0% {
        border: 3px solid rgb(214, 214, 214);
        border-left: none;
        border-top: none;
    }
    66% {
        border: 3px solid rgb(214, 214, 214);
        border-left: none;
        border-top: none;
    }
    100% {
        border: 3px solid rgb(43, 43, 43);
        border-left: none;
        border-top: none;
    }
}

.arrow {
    position: absolute;
    border: 3px solid rgb(214, 214, 214);
    border-left: none;
    border-top: none;
    transform-origin: center center;
    transform: rotate(45deg);
    width: 2em;
    height: 2em;
    left: 29%;
}
.one {
    top: 0;
}
.two {
    top: 24%;
}

/* Winner Banner */
.winner-banner {
    position: absolute;
    opacity: 0.7;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    width: 9em;
    border: solid 1px black;
    box-shadow: 0px 0px 31px 2px rgba(0, 0, 0, 0.75);
    padding: 0.4em;
    border-radius: 0.2em;
    display: none;
    -webkit-text-stroke: 1px black;
    /*text-shadow: -1.2px 0 black, 1.2px 0 black, 0 -1.2px black, 0 1.2px black;*/
}
.visible-red {
    color: #fff;
    display: inline-block;
    background-color: var(--player-2);
}
.visible-yellow {
    display: inline-block;
    color: #fff;
    background-color: var(--player-1);
}

@media (max-width: 1050px) {
    :root {
        --margin-left: 0;
    }
    html{
        font-size: .4em;
    }
    .header {
        display: none;
        position: absolute;
    }
    .navbar {
        position: static;
        margin-top: 0;
        width: 100%;
        height: 5em;
    }
    ul {
        margin-top: 0;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    li {
        width: 9em;
    }
    .main {
        margin-top: 1em;
    }
    .arrow {
        position: static;
        border: 3px solid black;
        border-left: none;
        border-top: none;
        width: 1em;
        height: 1em;
        left: none;
        margin-left: .6em;
    }
    .controls{
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .control-button{
        display: flex;
        flex-direction: column;
        width: 6em;
        height: 4em;
        gap: none;
    }
}
